* {
    font-family: 'Montserrat', sans-serif;
    color: #E56717;
}

h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 75px;
    color: #F08080;
    margin-top: 50px;
}

#fun {
    font-family: 'Lobster', cursive;
    color: #F9966B;
}

.highscores {
    text-align: left;
}

.timer {
    text-align: right;
}

main {
    text-align: center;
}

#form {
    visibility: hidden;
    font-size: large;
}

#table {
    visibility: hidden;
    margin-right: auto;
    margin-left: auto;
    font-size: large;
}

table, th {
    border: 1px solid black;
  }

#clear {
    visibility: hidden;
}

#go-back {
    visibility: hidden;
}

button {
    background-color: #F08080;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 5px;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    border-radius: 5px;
}

#submit {
    background-color: #F08080;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 5px;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    border-radius: 5px;
}

#yes-correct {
    visibility: hidden;
    font-family: 'Lobster', cursive;
    font-size: 50px;
}

#no-wrong {
    visibility: hidden;
    font-family: 'Lobster', cursive;
    font-size: 50px;
}


